{% extends "meridukaan/base.html" %}

{% block content %}

<div id='cart-card' class="container col s12 m12 l12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h5 class="left-align">Enter Adress</h5>
          <div class="row">
            <div class="col l8 m12 s12">
                <div class="row">
                    hey
                    
                </div>
            </div>
           
            <div class="col l4 m12 s12">
                hello
            </div>  
          </div>
        </div>
        <div class="card-action right-align">
          <a href="#">Proceed for Payment</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}